@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-medium::-webkit-scrollbar {
    height: 0px;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  border-radius: 5px;
  height: 5%;
}
