@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-medium::-webkit-scrollbar {
    height: 0px;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(0deg, 0%, 0%, 50%);
  border-radius: 0px;
  height: 5%;
}

